*{
    margin: 0;
    padding: 0;
}
.InputField{
    font-size: 20px;
    padding: 5px;
    width: 100%;

}
.BgImg {
    background-image: url("../../assets/chatgptlogoone.png");
    background-repeat: no-repeat;
    background-position: center calc(100% - 20px);
    
    background-size: 140px;
    padding-block: 20px;
    background-color: #a8d5e2;
    color: black !important;
      
}